.app-wrapper {
  height: 100%;
}
.add {
  background-color: antiquewhite;
  opacity: .5;
  color: white;
  text-decoration: line-through;
}

.text-center {
  width: 30%;
  position: fixed;
  top: 30%;
  left: 30%;
}
.margin {
  margin: 100px;
}
.task {
  font-size: larger;
  padding-left: 15px;
  height: 50px;
  margin-bottom: 2px;
  padding-top: 10px;
  width: 30%;
}
.task_new {
  background: #839dbb;
  margin-top: 5px;
  color: white;  
}
.task_done {
  background-color: #839dbb;
  opacity: .5;
  color: white;
  margin-top: 5px;  
  text-decoration: line-through;
}
.button-come {
  background-color: black;
  color: white;
  border-radius: 50%;
  float: right;
}
.button-close {
  background-color: black;
  color: white;
  border-radius: 50%;
}
.home-input {
  font-size: medium;
  height: 40px;
  width: 100%;
  border-color: #839dbb;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  display: flex;
}
.centered1 {
  width: 100%;
  position: fixed;
  top: 55%;
  left: 42%;
  margin-top: -50px;
  margin-left: -100px;
}
.guide {
  margin:75px;
  min-width: 300px;
}
.header-wrapper {
  background-color: #44a1d6;
  opacity: 0.7;
  height: 65px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top: 0px;
}
.logout {
  float: right;
  margin-right: 5px;
  cursor: pointer;
}
.taskDiv {
  height: 100%;
  width: 100%
}
.header-menu {
  justify-content: center;
  height: 50px;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  background-color: #839dbb;
  color: white;
  min-width: 300px;  
}
.header-logo {
  height: 55px;
  margin-top: 5px;
}
.logo {
  font-size: 35px;
  margin-bottom: 10px;
}
.tasks {
  margin-left: 15px;
  border-color: #839dbb;
  width: 100px;
}
.className {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #839dbb;
  background-color: #fff;
  background-image: none;
  border: 1px solid;
  border-radius: 4px;
  border-color: red;
}
.closeButton {
  width: 27px;
  background-color: black;
  color: white;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  height: 27px;
}
.forget {
  cursor: pointer;
}
.check {
  position: relative;
  height: 100%;
}
.btn {
  background-color: #839dbb;
}
.etc-login-form {
  margin-top: 10px;
}
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .65);
}
.modal-content {
  height: 250px;
  text-align: center;
  width: 350px;
  border: 1px solid gray;
  background-color: #f8f9fa;
}