.app-wrapper {
  height: 100%;
}
.add {
  background-color: antiquewhite;
  opacity: .5;
  color: white;
  text-decoration: line-through;
}

.text-center {
  width: 30%;
  position: fixed;
  top: 30%;
  left: 30%;
}
.margin {
  margin: 100px;
}
.task {
  font-size: larger;
  padding-left: 15px;
  height: 50px;
  margin-bottom: 2px;
  padding-top: 10px;
  width: 30%;
}
.task_new {
  background: antiquewhite;
  margin-top: 5px;
}
.task_done {
  background-color: antiquewhite;
  opacity: .5;
  color: white;
  text-decoration: line-through;
}
.button-come {
  background-color: black;
  color: white;
  border-radius: 50%;
  float: right;
}
.home-input {
  font-size: medium;
  height: 40px;
  width: 100%;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  display: flex;
}
.centered1 {
  width: 100%;
  position: fixed;
  top: 55%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.guide {
  margin:75px;
}
.header-wrapper {
  background-color: #44a1d6;
  opacity: 0.7;
  height: 65px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top: 0px;
}
.logout {
  float: right;
  margin-right: 5px;
  cursor: pointer;
}
.taskDiv {
  height: 100%;
  width: 100%
}
.header-menu {
  justify-content: center;
  height: 50px;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  background-color: #839dbb;
  color: white;
}
.header-logo {
  height: 55px;
  margin-top: 5px;
}
.logo {
  font-size: 35px;
  margin-bottom: 10px;
}
.tasks {
  margin-left: 15px;
  background: transparent;
  border: none;
  width: 100px;
}