.button-share {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.form-home {
  border-top: none;
  border-right: none;
  background-color: transparent;
  border-left: none;
  border-bottom-style: dotted;
  border-color: #242528;
  outline: none;
  font-size: medium;
  resize: none;
  font-family: 'Josefin Slab', serif;
  margin-top: 25px;
  margin-left: 75px;
}
.view{
  text-align: center;
}