
.view-come {
  font-size: larger;
  padding-left: 20px;
  background: antiquewhite;
  height: 30px;
  margin-bottom: 2px;
  padding-top: 15px;
  width: 30%;
}
.button-come {
  float: right;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.home-input {
  font-size: medium;
  resize: none;
  font-family: 'Josefin Slab', serif;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.centered1 {
  width: 100%;
  position: fixed;
  top: 55%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}